<%layout('/layouts/main') %> 
<div class="container-fluid">
      <h1 class="display-1 textalign-center ">WELCOME TO MY PROFILO</h1>
      <div class="card " style="width: 18rem;">
        <img src="/images/myimage.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text bg-light ">Hello I am a UnderGraduate Student, I am here help out the students and share my experencies</p>
        </div>
      </div >
      <h2 class="display-3 mb-3">MY SKIllS</h2>
      <div class="mb-3">
        <h1>C++ <span class="badge bg-primary rounded-pill">Intermediate</span></h1>
        <img src="/images/c++.png" alt="">
      </div> 
      <div>
        <h1>PYTHON <span class="badge bg-primary rounded-pill">Intermediate</span></h1>
        <img src="/images/python.png" alt="">
     </div> 
     <div class="mb-3">
        <h1>JAVASCRIPT<span class="badge bg-primary rounded-pill">Intermediate</span></h1>
        <img src="/images/javascript.png" alt="">
    </div>
    <div class="mb-3">
        <h1>NODEJS<span class="badge bg-primary rounded-pill">Intermediate</span></h1>
        <img src="/images/node.png" alt="">
    </div>   
    <div class="mb-3"> 
        <h1>MONGODB<span class="badge bg-primary rounded-pill">Intermediate</span></h1>
        <img src="/images/mongodb.png" alt="">
    </div>   
    <div class="mb-3">
        <h1>OBJECT ORIENTED PROGRAMMING<span class="badge bg-primary rounded-pill">Intermediate</span></h1>
        <img src="/images/oops.png" alt="">
    </div>    
    <div>
        <h1>DATA STRUCTURES AND ALGORITHMS C++<span class="badge bg-primary rounded-pill">Intermediate</span></h1>
        <img src="/images/dsa.jpeg" alt="">
    </div>
    </div>

