<%layout('/layouts/main') %> 
  <div class="container bg-warning border">
        <h1>TQ FOR VISITING THIS PAGE</h1>
        <h3><%=mail.name%> </h3>
        <h3><%=mail.gmail%> </h3>
        <h2>I will contact with u soon</h2>
    </div>      
